.rag-red {
  padding: 0.5rem !important;
  margin-bottom: 1rem !important;
  background-color: #dc3545 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-green {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #28a745 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-blue {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #007bff !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-gray {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #6c757d !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-yello {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #ffc107 !important;
  color: #343a40 !important;
  border-radius: 0.5rem !important;
}
.rag-cyan {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #17a2b8 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-light {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #f8f9fa !important;
  color: #343a40 !important;
  border-radius: 0.5rem !important;
}
.rag-black {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #343a40 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}



/* This file is for setting global styles  */
.rag-red-outer .rag-element {
  padding: 0.5rem !important;
  margin-bottom: 1rem !important;
  background-color: #dc3545 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-green-outer .rag-element {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #28a745 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-blue-outer .rag-element {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #007bff !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-gray-outer .rag-element {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #6c757d !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-yello-outer .rag-element {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #ffc107 !important;
  color: #343a40 !important;
  border-radius: 0.5rem !important;
}
.rag-cyan-outer .rag-element {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #17a2b8 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}
.rag-light-outer .rag-element {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #f8f9fa !important;
  color: #343a40 !important;
  border-radius: 0.5rem !important;
}
.rag-black-outer .rag-element {
  padding: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  background-color: #343a40 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
}



