<div class="full-grid">
    <h1>Master-Detail Example</h1>

    <my-menu-bar [gridOptions]="gridOptions" [cellValue]="cellValue"
    #myMenuBar
    >
    </my-menu-bar>


    <ag-grid-angular
            style="width: 100%; height: 100%;"
            #myGrid
            class="ag-theme-balham"
            [gridOptions]="gridOptions"
            enableFilter="true"
            enableSorting
            enableColResize
            rowSelection="multiple"
            [suppressRowClickSelection]="true"
            [isRowSelectable]="isRowSelectable"
            [components]="components"

            (rowSelected)="onRowSelected($event)"

            (cellClicked)="onCellSelected($event)"
            (rowDoubleClicked)='onRowDoubleClicked($event)'
            (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
</div>

